@model List<_2_1_2015_WSite.Models.BlogViewModel>
@{
    ViewBag.Title = "Blog";
    Layout = null;
}
    <div class="row">
        <div class="col-md-12">
            <table class="col-md-12" id="blogTable">
                <thead>
                    <tr><th></th></tr>
                </thead>
                <tbody>
                    @foreach (var blog in Model)
                    {
                        <tr>
                            <td>
                                <div class="box-outer">
                                    <div class="blog-author">
                                        <center>
                                            <p style="align-content: center"><b> blog.CreatedByName</b></p>
                                            <img src="blog.ImgUrl" /><br />
                                        </center>
                                    </div>
                                    <h3><u>@blog.MessageTitle</u></h3>
                                    <h5 style="position: center">Posted: blog.DatePostedString </h5>
                                    <a href="/Communication/GetBlog?id=blog.id"><h4>@Html.Raw(blog.MessageLead)</h4></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


