@model _2_1_2015_WSite.Models.BlogViewModel
@{
    ViewBag.Title = "BlogDetail";
}
    
<div class="box-outer col-md-12">
    <h3><u>@Model.MessageTitle</u></h3>
    <h5 style="position: center">Posted by: @Model.CreatedByName on  @Model.DatePostedString </h5>
    <div>@Html.Raw(Model.Message)</div>
</div>


