@{
    ViewBag.Title = "About";
}



<link href="~/Content/Site.css" rel="stylesheet" />
<center>
    <div class="row box box-info" style="padding:15px; margin: 30px; width: 45%">
        <h3>Shelby L. Murphy</h3>
        <p>@ViewBag.Message</p>
    </div>

</center>
