@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<center>
    <div class="row box box-info" style="padding:15px; margin: 30px; width: 45%">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <address>
            11315 Morning Glory Trail<br />
            Austin, TX 78750<br />
            <abbr title="Phone">P:</abbr>
            817-776-1121
        </address>

        <address>
            <strong>Need Help:</strong>   <a href="mailto:shelby@shelbymurpy.com">Shelby@ShelbyMurphy.com</a>
        </address>

    </div>

</center>


