<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shelbymurphy.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://louism817-001-site2.mywindowshosting.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>louism817-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\louism817-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5014.myWindowsHosting.com;Initial Catalog=DB_9BC1C9_slmw;Persist Security Info=True;User ID=DB_9BC1C9_slmw_admin;Password=Smurphy_9bc9!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="_2_1_2015_WSite.Data.ApplicationDbContext, 2_1_2015_WSite.Data" MigrationConfiguration="_2_1_2015_WSite.Data.Migrations.Configuration, 2_1_2015_WSite.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5014.myWindowsHosting.com;Initial Catalog=DB_9BC1C9_slmw;Persist Security Info=True;User ID=DB_9BC1C9_slmw_admin;Password=Smurphy_9bc9!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>